.info-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #313131;

  .navbar {
    background-color: #313131;
    height: 120px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 38px 60px -35px rgba(233, 88, 88, 0.5058823529);
    border-radius: 40px;
    width: 100%;

    .navbar-container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;

      ul {
        list-style: none;
        display: flex;
        align-items: center;

        li {
          margin-left: 20px;

          a {
            text-decoration: none;
            color: #CDCDCD;

            &:hover {
              border-bottom: 2px solid rgb(233, 88, 88);
            }
          }
        }
      }
    }
  }

  .info-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #CDCDCD;

    .col-1 {
      width: 100%;
      display: flex;
      justify-content: center;  
      margin-top: 120px;
    }

    .sec-func {
      width: 65%;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
      }

      ul {
        list-style-type: none;
        li {
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .navbar {
      height: auto;
      flex-direction: column;
      align-items: center;

      .navbar-container {
        justify-content: center;

        ul {
          flex-direction: column;
          text-align: center;
          padding: 0px;

          li {
            margin: 10px 0;
          }
        }
      }
    }

    .info-div {
      .col-1 {
        margin-top: 100px;
        font-size: xx-small;
      }
      .sec-func {
        width: 75%;
  
        h2 {
          font-size: 15px;
        }
  
        p {
          font-size: 14px;
          line-height: 1.0;
        }
  
        ul {
          li {
            font-size: 14px;
            line-height: 1.0;
          }
        }
      }
    }
  }
}
