<div class="info-container">
    <div class="navbar">
        <div class="navbar-container">
          <ul>
            <li><a routerLink="/">Página Principal</a></li>
            <li><a routerLink="/info">Guia do Usuário</a></li>
          </ul>
        </div>
      </div>  
<div class="info-div">
    <h1>Guia do Usuário - AgendaNotes</h1>
    <section >
      <h2>Sobre o Sistema</h2>
      <p>
        Bem-vindo ao AgendaNotes, um sistema de organização de Notas.
        Aqui está uma visão geral das principais funcionalidades:
      </p>
      <ul>
        <li>Notas são organizadas em duas seções: "Próximas" e "Aguardando".</li>
        <li>Próximas: Notas planejadas para o futuro com base na data fornecida.</li>
        <li>Aguardando: Notas cujas datas já passaram.</li>
      </ul>
    </section>
  
    <section class="sec-func">
      <h2>Funcionalidades Principais</h2>
      <ul>
        <li><strong>Ver Notas:</strong> Visualize suas notas organizadas.</li>
        <li><strong>Criar Nota:</strong> Adicione uma nova nota ao sistema.</li>
        <li><strong>Alterar Nota:</strong> Atualize informações de uma nota existente.</li>
        <li><strong>Excluir Nota:</strong> Remova uma nota do sistema.</li>
      </ul>
    </section>
  
    <section>
      <h2>Observações Importantes</h2>
      <p>
        Certifique-se de fornecer a data desejada para suas notas, garantindo uma organização adequada.
        Em caso de lentidão, pode haver atrasos na execução das operações CRUD devido ao deploy.
      </p>
    </section>    
  </div>
</div>

  